<div class="row">
  <div class="col-sm-4">
    
  
    <div class="four columns lh">
      <%= f.field_container :name do %>
        <%= f.label :name, Spree::Pricelist.human_attribute_name(:name) %>
        <span class="required">*</span>
        <br/>
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :sku_column do %>
        <%= f.label :parser_sku_column, Spree::Pricelist.human_attribute_name(:sku_column) %>
        <br/>
        <%= f.text_field :sku_column, :class => 'fullwidth' %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :name_column do %>
        <%= f.label :parser_name_column, Spree::Pricelist.human_attribute_name(:name_column) %>
        <br/>
        <%= f.text_field :name_column, :class => 'fullwidth' %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :cost_price_column do %>
        <%= f.label :parser_cost_price_column, Spree::Pricelist.human_attribute_name(:cost_price_column) %>
        <br/>
        <%= f.text_field :cost_price_column, :class => 'fullwidth' %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :quantity_column do %>
        <%= f.label :quantity_column, Spree::Pricelist.human_attribute_name(:quantity_column) %>
        <br/>
        <%= f.text_field :quantity_column, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div class="four columns lh">
      <%= f.field_container :desc_column do %>
        <%= f.label :desc_column, Spree::Pricelist.human_attribute_name(:desc_column) %>
        <br/>
        <%= f.text_field :desc_column, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div class="four columns lh">
      <%= f.field_container :image_dir_column do %>
        <%= f.label :image_dir_column, Spree::Pricelist.human_attribute_name(:image_dir_column) %>
        <br/>
        <%= f.text_field :image_dir_column, :placeholder=> "/lib/images",:class => 'fullwidth' %>
      <% end %>
    </div>

    <div class="four columns lh">
      <%= f.field_container :parent_column do %>
        <%= f.label :parent_column, 'Столбец родителя' %>
        <br/>
        <%= f.text_field :parent_column, :class => 'fullwidth' %>
      <% end %>
    </div>

    <div class="four columns lh">
      <%= f.field_container :margin do %>
        <%= f.label :margin, Spree::Pricelist.human_attribute_name(:margin) %>
        <br/>
        <%= f.text_field :margin, :class => 'fullwidth' %>
      <% end %>
    </div>

  </div>

  <div class="col-sm-4">
    <h3>Свойства товара</h3>
    <div class="four columns lh">
      <%= f.field_container :brand do %>
        <%= f.label :brand, 'Бренд' %>
        <br/>
        <%= f.text_field :brand, :class => 'fullwidth' %>
      <% end %>
    </div>
  
  <div class="four columns lh">
      <%= f.field_container :skin do %>
        <%= f.label :skin, 'Тип кожи' %>
        <br/>
        <%= f.text_field :skin, :class => 'fullwidth' %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :hair do %>
        <%= f.label :hair, 'Тип волос' %>
        <br/>
        <%= f.text_field :hair, :class => 'fullwidth' %>
      <% end %>
    </div>
    <div class="four columns lh">
      <%= f.field_container :color do %>
        <%= f.label :color, 'Цвет' %>
        <br/>
        <%= f.text_field :color, :class => 'fullwidth' %>
      <% end %>
    </div>
    
  </div>

  <div class="col-sm-4">
    <h3>Товарные опции для вариантов</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="four columns ">
          <%= f.field_container :otype1_label do %>
            <%= f.label :otype1_label , 'Название товарной опции' %>
            <br/>
            <%= f.text_field :otype1_label  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype2_label do %>
            <%= f.label :otype2_label , 'Название товарной опции' %>
            <br/>
            <%= f.text_field :otype2_label  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype3_label do %>
            <%= f.label :otype3_label , 'Название товарной опции' %>
            <br/>
            <%= f.text_field :otype3_label  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype4_label do %>
            <%= f.label :otype4_label , 'Название товарной опции' %>
            <br/>
            <%= f.text_field :otype4_label  , :class => 'fullwidth' %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="four columns ">
          <%= f.field_container :otype1 do %>
            <%= f.label :otype1 , 'Столбец товарной опции' %>
            <br/>
            <%= f.text_field :otype1  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype2 do %>
            <%= f.label :otype2 , 'Столбец товарной опции' %>
            <br/>
            <%= f.text_field :otype2  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype3 do %>
            <%= f.label :otype3 , 'Столбец товарной опции' %>
            <br/>
            <%= f.text_field :otype3  , :class => 'fullwidth' %>
          <% end %>
        </div>

        <div class="four columns ">
          <%= f.field_container :otype4 do %>
            <%= f.label :otype4 , 'Столбец товарной опции' %>
            <br/>
            <%= f.text_field :otype4  , :class => 'fullwidth' %>
          <% end %>
        </div>
      </div>

    </div>


  </div>

</div>
