<% content_for :page_title do %>
  <%= "Список Распознавателей" %>
<% end %>
<% content_for :page_actions do %>
    <%= link_to_with_icon 'icon-add', "Новый распознаватель", new_admin_pricelist_path, { :remote => true, :class => "btn btn-success", :id => 'admin_new_pricelist' } %>
<% end %>
<div id="new_parser_wrapper"></div>
<% if @pricelists.blank? %>
  <div class="no-objects-found">
    <%= "Не создано ни одного распознавателя!" %>
  </div>
<% else %>
  <table class="index" id="listing_products">
    <colgroup>
      <col style="width:70%"></col>
      <col style="width:20%"></col>
      <col style="width:10%"></col>
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th>Название</th>
        <th class="actions" data-hook="admin_products_index_header_actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @pricelists.each do |pricelist| %>
        <tr id="<%= dom_id pricelist%>">
          <td class="align-center">
            <%= pricelist.name %>
          </td>
          <td class="actions" data-hook="admin_products_index_row_actions">
            <%= link_to_with_icon 'icon-edit', 'Изменить распознаватель', edit_admin_pricelist_path(pricelist), {:class => "edit", :no_text => true} %>
            <%= link_to_edit pricelist, url: edit_admin_pricelist_path(pricelist), no_text: true %>
            <%= link_to_with_icon 'icon-delete', 'Удалить распознаватель', admin_pricelist_path(pricelist), {:class => "delete", :no_text => true} %>
            <%= link_to_delete pricelist, url: admin_pricelist_path(pricelist), no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
