<tr id="<%= dom_id(conflict) %>">
  <td class="align-center" style="border-left: 1px solid #cee1f4;">
    <p>
      <strong><%= Spree::Conflict.human_attribute_name(:product_name) %></strong>:
      <%= conflict.product_name %>
    </p>
    <p>
      <strong><%= Spree::Conflict.human_attribute_name(:sku) %></strong>:
      <%= conflict.sku %>
    </p>
    <p>
      <strong><%= Spree::Conflict.human_attribute_name(:price) %></strong>:
      <%= conflict.price.to_s %>
    </p>
    <p>
      <strong><%= Spree::Conflict.human_attribute_name(:provider_name) %></strong>:
      <%= conflict.pricelist.name %>
    </p>
    <p>
      <icon class="icon-resize-vertical"></icon>
    </p>
    <fieldset class="no-border-bottom no-border-top">
      <span>
        <%= select_tag 'conflict[product]', options_for_select(conflict.select_options_for_suitable_products), class: 'select2 ', style: 'width:100%;' %>
      </span>
    </fieldset>
  </td>
  <td class="align-center" style="vertical-align:bottom;">
    <fieldset class="no-border-bottom no-border-top">
      <div class="field">
        <%= label_tag "Действие" %>
        <span>
          <%= select_tag 'conflict[action]', options_for_select(conflict_solve_actions), class: 'select2 fullwidth' %>
        </span>
      </div>
    </fieldset>
  </td>
  <td class="actions" data-hook="admin_products_index_row_actions" style="vertical-align:bottom;">
    <%= link_to_with_icon 'ok', 'Решить конфликт', '#', {class: "btn btn-sm btn-success edit resolve-conflict", no_text: true, :"data-id" => conflict.id } %>
    <%= link_to_delete conflict, url: admin_conflict_path(conflict), no_text: true %>
  </td>
</tr>
